body, html, h1, p {
    box-sizing: border-box;
}

html {
    --off-white: #efefef
    --bg-color: var(--off-white);
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin: 0;
    font-size: clamp(0.8rem, 2vw, 3rem);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    padding: 2em;
    gap: 0.5em;
    background: var(--bg-color);
    text-align: center;
}

section.text-container {
    height: 10em;
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
}

h1 {
    margin: 0;
    font-size: 2em;
    line-height: 1.15;
    text-align: center;
    max-width: 14em;
}

.subtitle {
    margin: 0;
    font-size: 1.3em;
}

canvas {
    width: 80px;
    height: 80px;
}